<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Inserir Usuários</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
          crossorigin="anonymous">

    <style>
        body {
            margin: 50px;
        }
        section, .btn-box {
            width: 200px !important;
        }
        h1, section {
            margin: 50px auto;
        }
        h1 {
            text-align: center;
        }
        label {
            font-weight: bold;
        }
        .submit-button {
            margin: 50px 0;
            font-weight: bold;
        }
        .btn-box {
            margin: 0px auto !important;
        }
    </style>
</head>

<body>
    <h1>Inserir Usuários</h1>
    <div class="btn-box">
        <a role="button" class="btn btn-outline-secondary btn-sm" href="/user">
            Voltar
        </a>
    </div>

    <section>
        <form th:object="${userCommand}" th:action="@{insert/}" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label>Tipo</label>
                <select th:field="*{userType}">
                    <option th:each="userTypeValue : ${T(com.example.doorweb.model.UserType).values()}"
                            th:value="${userTypeValue.name()}"
                            th:text="${userTypeValue.name()}">
                        tipo
                    </option>
                </select>
            </div>
            <div class="form-group">
                <label for="fname">Login</label><br>
                <input type="text" id="fname" name="fname" th:field="*{login}">
            </div>
            <div class="form-group">
                <label for="lname">Senha</label><br>
                <input type="text" id="lname" name="lname" th:field="*{password}">
            </div>
            <div class="submit-button">
                <input type="submit" id="submit" value="Inserir">
            </div>
        </form>
    </section>
</body>
</html>