<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Listar Usuários</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
          crossorigin="anonymous">

    <style>
        body {
            margin: 50px;
        }
        section, .btn-box {
            width: 300px !important;
        }
        h1, section {
            margin: 50px auto;
        }
        h1, th, td {
            text-align: center;
        }
        td {
            vertical-align: middle !important;
        }
        .btn-box {
            margin: 0px auto !important;
        }
    </style>
</head>

<body>
    <h1>Listar Usuários</h1>
    <div class="btn-box">
        <a role="button" class="btn btn-outline-secondary btn-sm" href="/user">
            Voltar
        </a>
    </div>

    <section>
        <table class="table">
            <tr>
                <th>Tipo</th>
                <th>Login</th>
            </tr>
            <tr th:each="user : ${userList}">
                <td th:text="${user.userType}">Admin</td>
                <td th:text="${user.login}">administrador</td>
            </tr>
        </table>
    </section>
</body>
</html>