<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registros</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
          crossorigin="anonymous">

    <style>
        body {
            margin: 50px;
        }
        section, .btn-box {
            width: 600px !important;
        }
        h1, section {
            margin: 50px auto;
        }
        h1, th, td {
            text-align: center;
        }
        td {
            vertical-align: middle !important;
        }
        .btn-box {
            margin: 0px auto !important;
        }
    </style>
</head>

<body>
    <h1>Registros</h1>
    <div class="btn-box">
        <a role="button" class="btn btn-outline-secondary btn-sm" href="/index-page">
            Voltar
        </a>
    </div>

    <section>
        <table class="table">
            <tr>
                <th>Data/Hora</th>
                <th>Imagem</th>
                <th>Nome</th>
                <th>Sobrenome</th>
            </tr>
            <tr th:each="log : ${logList}">
                <td th:text="${log.timestamp}">1900-01-01 00:00:00</td>
                <td><img src="../static/dummy-person.jpg"
                         th:src="@{'/log-image/' + ${log.id}}"
                         width="100px" height="100px"></td>
                <td th:text="${log.person != null} ? ${log.person.firstName} : '---' ">Fulano</td>
                <td th:text="${log.person != null} ? ${log.person.lastName} : '---' ">Silva</td>
            </tr>
        </table>
    </section>
</body>
</html>