<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Pessoas</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
          crossorigin="anonymous">

    <style>
        body {
            margin: 50px;
        }
        section {
            width: 500px !important;
        }
        h1, section {
            margin: 50px auto;
        }
        h1, th, td {
            text-align: center;
        }
        td {
            vertical-align: middle !important;
        }
    </style>
</head>

<body>
    <h1>Pessoas</h1>

    <section>
        <table class="table">
            <tr>
                <th>Foto</th>
                <th>Nome</th>
                <th>Sobrenome</th>
            </tr>
            <tr th:each="person : ${personList}">
                <td><img src="../static/dummy-person.jpg"
                         th:src="@{'/person/photo/' + ${person.id}}"
                         width="100px" height="100px"></td>
                <td th:text="${person.firstName}">Fulanelson</td>
                <td th:text="${person.lastName}">Silveira</td>
            </tr>
        </table>
    </section>
</body>
</html>