<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Deletar Pessoas</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
          crossorigin="anonymous">

    <style>
        body {
            margin: 50px;
        }
        section, .btn-box {
            width: 500px !important;
        }
        h1, section {
            margin: 50px auto;
        }
        h1, th, td {
            text-align: center;
        }
        td {
            vertical-align: middle !important;
        }
        #sec-emp, #sec-cli {
            display: none
        }
        .btn-box {
            margin: 0px auto !important;
        }
    </style>

    <script>
        function toggleSection(section) {
            let empSec = document.getElementById("sec-emp");
            let cliSec = document.getElementById("sec-cli");
            if (section === "employee") {
                empSec.style.display = "block";
                cliSec.style.display = "none";
            } else { // section === "client"
                cliSec.style.display = "block";
                empSec.style.display = "none";
            }
        }
    </script>
</head>

<body>
    <h1>Deletar Pessoas</h1>
    <div class="btn-box">
        <a role="button" class="btn btn-outline-secondary btn-sm" href="/person">
            Voltar
        </a>
    </div>

    <section>
        <button class="btn btn-outline-primary"
                onclick="toggleSection('employee')">Funcionário</button>
        <button class="btn btn-outline-primary"
                onclick="toggleSection('client')">Cliente</button>
    </section>

    <section id="sec-emp">
        <table class="table">
            <tr>
                <th>Foto</th>
                <th>Nome</th>
                <th>Sobrenome</th>
                <th></th>
            </tr>
            <tr th:each="employee : ${employeeList}">
                <td><img src="../../static/dummy-person.jpg"
                         th:src="@{'/person/photo/' + ${employee.id}}"
                         width="100px" height="100px"></td>
                <td th:text="${employee.firstName}">Fulaneson</td>
                <td th:text="${employee.lastName}">Silveira</td>
                <td><a href="#" th:href="@{'delete/' + ${employee.id}}">deletar</a></td>
            </tr>
        </table>
    </section>

    <section id="sec-cli">
        <table class="table">
            <tr>
                <th>Foto</th>
                <th>Nome</th>
                <th>Sobrenome</th>
                <th></th>
            </tr>
            <tr th:each="client : ${clientList}">
                <td><img src="../../static/dummy-person.jpg"
                         th:src="@{'/person/photo/' + ${client.id}}"
                         width="100px" height="100px"></td>
                <td th:text="${client.firstName}">Fulaneson</td>
                <td th:text="${client.lastName}">Silveira</td>
                <td><a href="#" th:href="@{'delete/' + ${client.id}}">deletar</a></td>
            </tr>
        </table>
    </section>
</body>
</html>